@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
	#full-clndr {
	  width: 100%;
	  background-color: #DEEBEA;
	  font-weight: 700;
	  /*
	  -moz-box-shadow: 0px 4px 0 #343434;
	  -webkit-box-shadow: 0px 4px 0 #343434;
	  box-shadow: 0px 4px 0 #343434;
	  */
	}
	#full-clndr .clndr-controls {
	  padding: 14px;
	  background-color: #46CD69;
	  color: white;
	  text-align: center;
	}
	#full-clndr .clndr-controls .clndr-previous-button {
	  float: left;
	  text-align: left;
	}
	#full-clndr .clndr-controls .clndr-next-button {
	  float: right;
	  text-align: right;
	}
	#full-clndr .clndr-controls .clndr-previous-button,
	#full-clndr .clndr-controls .clndr-next-button {
	  width: 30px;
	  cursor: pointer;
	  -webkit-user-select: none;
	  /* Chrome/Safari */

	  -moz-user-select: none;
	  /* Firefox */

	  -ms-user-select: none;
	  /* IE10+ */

	}
	#full-clndr .clndr-controls .clndr-previous-button:hover,
	#full-clndr .clndr-controls .clndr-next-button:hover {
	  opacity: 1;
	}
	#full-clndr .clndr-grid {
	  float: left;
	  width: 65%;
	  border-right: 1px solid white;
	}
	#full-clndr .clndr-grid .days-of-the-week {
	  width: 100%;
	  background-color: #1BBB45;
	}
	#full-clndr .clndr-grid .days-of-the-week .header-day {
	  float: left;
	  width: 14.2857%;
	  padding: 14px;
	  text-align: center;
	  color: white;
	  border-left:1px solid white;
	}
	#full-clndr .clndr-grid .days {
	  width: 100%;
	}
	#full-clndr .clndr-grid .days .day,
	#full-clndr .clndr-grid .days .empty {
	  float: left;
	  width: 14.2857%;
	  height: 66px;
	  padding: 24px 0;
	  text-align: center;
	  color: #005952;
	  background-color: #CCFFC3;
	  border-bottom: 1px solid white;
	  border-left: 1px solid white;
	  #background-image: url('http://kylestetz.github.io/CLNDR/css/./triangle.svg');
	  background-size: cover;
	  background-position: center;
	}

	#full-clndr .clndr-grid .days .day:hover,
	#full-clndr .clndr-grid .days .empty {
	  background-image: url('../img/add_to_cal_plus_white.png');
	  background-size: 30% 40%;
	  background-position: right bottom;
	  background-repeat: no-repeat;
	  color:white;
	  background-color: #33568F;
	}

	#full-clndr .clndr-grid .days .past:hover {
	  background-image: url('../img/non_editable_cal.png');
	  background-size: 30% 40%;
	  background-position: right bottom;
	  background-repeat: no-repeat;
	  color: black;
	  background-color: none;
	}

	#full-clndr .clndr-grid .days .day.event .day-number,
	#full-clndr .clndr-grid .days .empty.event .day-number {
	  padding-bottom: 4px;
	  border-bottom: 2px solid red;
	}

	#full-clndr .clndr-grid .days .day.adjacent-month .day-number,
	#full-clndr .clndr-grid .days .empty.adjacent-month .day-number {
	  opacity: 0.3;
	}
	#full-clndr .clndr-grid .days .today {
	  background-color: #199DDE;
	  background-image: url('../img/add_to_cal_plus_green.png');
	  background-size: 30% 40%;
	  background-position: right bottom;
	  background-repeat: no-repeat;
	  color: white;
	}
	#full-clndr .event-listing {
	  float: left;
	  width: 35%;
	}
	#full-clndr .event-listing .event-listing-title {
	  padding: 14px;
	  background-color: #1BBB45;
	  text-align: center;
	  color: white;
	  letter-spacing: 1px;
	}
	#full-clndr .event-listing .event-item {
	  padding: 14px;
	  color: #005952;
	}

	#full-clndr .event-listing .event-item:hover {
	  border-bottom: 3px solid #005952;
	  background-color: #FFFFFF;
	}

	#full-clndr .event-listing .event-item-location {
	  font-weight: 400;
	}
	
	
	/***/
	
	#full-clndr-sm {
	  width: 100%;
	  background-color: #D8F7E4;
	  font-weight: 700;
	  display:flex;
	  /*
	  -moz-box-shadow: 0px 4px 0 #343434;
	  -webkit-box-shadow: 0px 4px 0 #343434;
	  box-shadow: 0px 4px 0 #343434;
	  */
	}
	#full-clndr-sm .clndr-controls {
	  padding: 14px;
	  background-color: #6F9E58;
	  color: white;
	  text-align: center;
	}
	#full-clndr-sm .clndr-controls .clndr-previous-button {
	  float: left;
	  text-align: left;
	}
	#full-clndr-sm .clndr-controls .clndr-next-button {
	  float: right;
	  text-align: right;
	}
	#full-clndr-sm .clndr-controls .clndr-previous-button,
	#full-clndr-sm .clndr-controls .clndr-next-button {
	  width: 30px;
	  cursor: pointer;
	  -webkit-user-select: none;
	  /* Chrome/Safari */

	  -moz-user-select: none;
	  /* Firefox */

	  -ms-user-select: none;
	  /* IE10+ */

	}
	#full-clndr-sm .clndr-controls .clndr-previous-button:hover,
	#full-clndr-sm .clndr-controls .clndr-next-button:hover {
	  opacity: 0.5;
	}
	#full-clndr-sm .clndr-grid {
	  float: left;
	  width: 65%;
	  border-right: 2px solid white;
	}
	#full-clndr-sm .clndr-grid .days-of-the-week {
	  width: 100%;
	  background-color: #005952;
	}
	#full-clndr-sm .clndr-grid .days-of-the-week .header-day {
	  float: left;
	  width: 14.2857%;
	  padding: 14px;
	  text-align: center;
	  color: white;
	}
	#full-clndr-sm .clndr-grid .days {
	  width: 100%;
	}
	#full-clndr-sm .clndr-grid .days .day,
	#full-clndr-sm .clndr-grid .days .empty {
	  float: left;
	  width: 14.2857%;
	  height: 66px;
	  padding: 24px 0;
	  text-align: center;
	  color: #005952;
	  background-color: #C3FAB6;
	  border-bottom: 2px solid white;
	  #background-image: url('http://kylestetz.github.io/CLNDR/css/./triangle.svg');
	  background-size: cover;
	  background-position: center;
	}
	#full-clndr-sm .clndr-grid .days .day.event .day-number,
	#full-clndr-sm .clndr-grid .days .empty.event .day-number {
	  padding-bottom: 4px;
	  border-bottom: 2px solid #3883a3;
	}
	#full-clndr-sm .clndr-grid .days .day.adjacent-month .day-number,
	#full-clndr-sm .clndr-grid .days .empty.adjacent-month .day-number {
	  opacity: 0.3;
	}
	#full-clndr-sm .clndr-grid .days .today {
	  background-color: white;
	  background-image: none;
	}
	#full-clndr-sm .event-listing {
	  float: left;
	  width: 35%;
	}
	#full-clndr-sm .event-listing .event-listing-title {
	  padding: 14px;
	  background-color: #005952;
	  text-align: center;
	  color: white;
	  letter-spacing: 1px;
	}
	#full-clndr-sm .event-listing .event-item {
	  padding: 14px;
	  color: #005952;
	}
	#full-clndr-sm .event-listing .event-item-location {
	  font-weight: 400;
	}
	
	.noselect {
	  -webkit-user-select: none;
	  /* Chrome/Safari */

	  -moz-user-select: none;
	  /* Firefox */

	  -ms-user-select: none;
	  /* IE10+ */

	}


	.hvr-border-fade {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-duration: .3s;
	  transition-duration: .3s;
	  -webkit-transition-property: box-shadow;
	  transition-property: box-shadow;
	  box-shadow: inset 0 0 0 4px #C3FAB6,0 0 1px rgba(0,0,0,0);
	}

	* {
	  margin: 0;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	}

	.hide-clndr-grid {
		display:none;
	}

	.show-clndr-grid {
		display:block;
	}

	.add-schedule {
	  float: left;
	  width: 61.55%;
	  height: 98%;
	  border: 2px solid white;
	  border-radius: 7px;
	  margin: 20px 20px;
	  background-color:#C3FAB6;
	}

	.add-schedule-day {
		background-color: #1BBB45;
  		text-align: center;
  		color: white;
  		letter-spacing: 1px;
  		border-top-right-radius: inherit;
  		border-top-left-radius: inherit;	
    	margin-top: -10px;
    	padding: 10px;
  	}

	.show-add-schedule{
		display:block;
	}
	
	.hide-add-schedule{
		display:none;
	}

	.select-box {
	  height: 30px;
	  border-radius: 3px;
	  background-color: white;
	  color: grey;
	}

	.cancel{
		background-color: #199DDE;
	}

	.btn-primary {
	  color: #ffffff;
	  background-color: #1BBB45;
	  border-color: transparent;
	}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
	  color: #1BBB45;
	  background-color: #ffffff;
	  border-color: transparent;
	}

	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
	  background-image: none;
	}

	.btn-warning {
	  color: white;
	  background-color: #199DDE;
	  border-color: transparent;
	}

	.btn-warning:hover,
	.btn-warning:focus,
	.btn-warning.focus,
	.btn-warning:active,
	.btn-warning.active,
	.open > .dropdown-toggle.btn-warning {
	  color: #199DDE;
	  background-color: #ffffff;
	  border-color: transparent;
	}
	.btn-warning:active,
	.btn-warning.active,
	.open > .dropdown-toggle.btn-warning {
	  background-image: none;
	}

	.new-item {
	  opacity: 0;
	  -webkit-animation: new-item-animation .5s cubic-bezier(.14,.25,.52,1.56) forwards;
	  -o-animation: new-item-animation .5s cubic-bezier(.14,.25,.52,1.56) forwards;
	  animation: new-item-animation .5s cubic-bezier(.14,.25,.52,1.56) forwards
	}

	@keyframes new-item-animation {
	  0% {
	    opacity: 0;
	    -webkit-transform: translateX(300px);
	    -ms-transform: translateX(300px);
	    -o-transform: translateX(300px);
	    transform: translateX(300px)
	  }

	  70% {
	    opacity: 1;
	    -webkit-transform: translateX(-50px);
	    -ms-transform: translateX(-50px);
	    -o-transform: translateX(-50px);
	    transform: translateX(-50px)
	  }

	  100% {
	    opacity: 1;
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -o-transform: translateX(0);
	    transform: translateX(0)
	  }
	}

	.top-to-down {
	  opacity: 0;
	  -webkit-animation: new-item-animation .3s linear forwards;
	  -o-animation: new-item-animation .3s linear forwards;
	  animation: new-item-animation .3s linear forwards
	}

	@keyframes new-item-animation {
	  from {
	    opacity: 0;
	    -webkit-transform: translateY(-400px);
	    -ms-transform: translateY(-400px);
	    -o-transform: translateY(-400px);
	    transform: translateY(-400px)
	  }

	  to {
	    opacity: 1;
	    transform : translateY(0)
	  }
	}

	#id-add-schedule-day{
		font-size:20px;
		font-weight: 700;
	}

	/*
	body {
	  font-family: Inconsolata, Monaco, 'Andale Mono', Courier;
	  font-size: 18px;
	  color: #212121;
	}
	body h1,
	body h2,
	body h3,
	body h4,
	body h5,
	body h6 {
	  margin-bottom: 1em;
	  color: white;
	  text-shadow: 1px 1px 1px #212121;
	}
	p {
	  line-height: 1.5em;
	  margin-bottom: 1em;
	}
	p + h3 {
	  margin-top: 3em;
	}
	a {
	  text-decoration: none;
	  background-color: #ebebeb;
	  color: #3883a3;
	  padding: 0 2px;
	  border-radius: 2px;
	  -webkit-transition: background-color 0.2s, color 0.4s;
	  -moz-transition: background-color 0.2s, color 0.4s;
	  -ms-transition: background-color 0.2s, color 0.4s;
	  -o-transition: background-color 0.2s, color 0.4s;
	  transition: background-color 0.2s, color 0.4s;
	}
	a:hover {
	  background-color: #98cede;
	  color: #212121;
	}
	span.code {
	  padding: 0 2px;
	  background-color: rgba(255, 255, 255, 0.4);
	  border-radius: 2px;
	}
	.block {
	  padding: 80px 0;
	  width: 100%;
	}
	.inner {
	  max-width: 960px;
	  padding: 0 20px;
	  margin: 0 auto;
	}
	.clearfix:after {
	  content: ".";
	  display: block;
	  clear: both;
	  visibility: hidden;
	  line-height: 0;
	  height: 0;
	}
	.clearfix {
	  display: inline-block;
	}
	html[xmlns] .clearfix {
	  display: block;
	}
	* html .clearfix {
	  height: 1%;
	}
	strong {
	  font-weight: 700;
	}
	.bg-gray {
	  background-color: #414141;
	}
	.bg-red {
	  background-color: #ff5a45;
	}
	.bg-red a {
	  color: #ff5a45;
	}
	.bg-red a:hover {
	  background-color: #ffb4ab;
	  color: #212121;
	}
	.bg-blue {
	  background-color: #71bbd2;
	}
	.bg-green {
	  background-color: #97ce7f;
	}
	.bg-yellow {
	  background-color: #ddca9a;
	}
	.center {
	  text-align: center;
	}
	.header {
	  padding: 30px 0;
	}
	.clndr-logo {
	  margin: 0 auto;
	  width: 113px;
	  height: 113px;
	  background-image: url('http://kylestetz.github.io/CLNDR/css/./clndr-logo.svg');
	}
	.banner-text {
	  text-align: center;
	  color: #f4f4f4;
	  letter-spacing: 1px;
	  font-weight: normal;
	  text-shadow: 2px 2px 2px #212121;
	}
	.banner-text.below {
	  margin-top: 30px;
	}
	.banner-text.below a {
	  background-color: transparent;
	  color: #97ce7f;
	}
	.banner-text.below a:hover {
	  color: #d3eac9;
	}
	.more-space {
	  margin-top: 3em;
	}*/
	
	/*@media all and (max-width: 768px) {
	  #full-clndr-sm .clndr-grid {
		width: 100%;
		border: none;
	  }
	  #full-clndr-sm .event-listing {
		display: none;
	  }*/
	  /*
	  h1.banner-text {
		font-size: 28px;
	  }
	  
	  .banner-text.below {
		font-size: 16px;
		word-wrap: break-word;
	  }
	  */
	  /*
	  code[class*="language-"],
	  pre[class*="language-"] {
		font-size: 14px;
	  }
	  #clndr-4 .day,
	  #clndr-4 .clndr-next-button,
	  #clndr-4 .clndr-previous-button {
		height: 100px;
	  }
	  #clndr-4 .clndr-next-button,
	  #clndr-4 .clndr-previous-button {
		padding-top: 30px;
	  }
	  #clndr-4 .events {
		margin-top: 0.1em;
	  }
	  #clndr-4 .event-listing {
		width: 1px;
		height: 1px;
	  }
	  #clndr-4 .event-listing-title {
		display: none;
	  }
	}*/